* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: scroll;
}

@media (min-width: 1024px) {
  body {
    overflow: visible;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7f6;
  z-index: 400;
}
.preloader.disppear {
  animation: disppear 1s forwards;
}

@keyframes disppear {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.header-icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  padding: 1rem;
  position: relative;
}
.header-icon .logo i {
  color: green;
  font-size: clamp(1.7rem, 10vw, 3rem);
}
.header-icon .logo i span {
  color: #000;
  padding-left: 10px;
}
.header-icon .search-form {
  width: 40rem;
  height: 4rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid black;
  transition: all 0.4s;
  background: #fff;
}
@media (max-width: 768px) {
  .header-icon .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: 0 0 10px black;
  }
  .header-icon .search-form.active {
    top: 115%;
  }
}
.header-icon .search-form input {
  width: 100%;
  height: 100%;
  padding: 0 1.2rem;
  text-transform: none;
  border: none;
}
.header-icon .search-form input:focus {
  outline: none;
}
.header-icon .search-form label {
  font-size: clamp(1.5rem, 5vw, 2rem);
  cursor: pointer;
  padding-right: 1.5rem;
}
.header-icon .icon #serach-icon {
  display: none;
}
@media (max-width: 768px) {
  .header-icon .icon #serach-icon {
    display: inline;
  }
}
.header-icon .icon i {
  padding: 10px;
  font-size: clamp(1.5rem, 5vw, 2rem);
  cursor: pointer;
}

.large-screen {
  display: grid;
  place-items: center;
  width: 100%;
  background: green;
  transition: all 0.4s;
}
.large-screen.sticky {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11111;
  padding: 10px;
}
@media (max-width: 768px) {
  .large-screen {
    display: none;
  }
}
.large-screen ul {
  list-style: none;
}
.large-screen ul li {
  display: inline-block;
  padding: 1rem;
}
.large-screen ul li a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1rem, 5vw, 2.2rem);
  transform: all 0.4s;
}
.large-screen ul li a:hover {
  color: #333;
}

.header-holder {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 7rem 4rem;
  background: url(../../image/banner-bg.jpg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  grid-gap: 30px;
}
.header-holder .text h1 {
  font-size: clamp(2.3rem, 5vw, 4rem);
}
.header-holder .text p {
  font-size: 1.5rem;
  margin: 2rem 0;
  line-height: 2.3rem;
}
.header-holder .text .btn {
  background: green;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: opacity 0.4s;
}
.header-holder .text .btn:hover {
  opacity: 0.7;
}
.header-holder .swiper {
  width: 100%;
  height: 100%;
}
.header-holder .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.header-holder .swiper .swiper-slide img {
  padding: 1rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s;
}
@media (max-width: 768px) {
  .header-holder .swiper .swiper-slide img {
    height: 30rem;
  }
}
.header-holder .swiper .swiper-slide img:hover {
  transform: scale(0.7) rotate(25deg);
}
.header-holder .swiper .stand {
  width: 100%;
}
@media (max-width: 768px) {
  .header-holder .swiper .stand {
    margin-top: -4.9rem;
  }
}
@media (min-width: 800px) {
  .header-holder .swiper .stand {
    margin-top: -6.3rem;
  }
}
@media (min-width: 1024px) {
  .header-holder .swiper .stand {
    margin-top: -7.3rem;
  }
}
@media (min-width: 1400px) {
  .header-holder .swiper .stand {
    margin-top: -9.3rem;
  }
}

.small-scren {
  width: 100%;
  display: none;
  place-items: center;
  padding: 1rem 2rem;
  background: green;
}
@media (max-width: 768px) {
  .small-scren {
    display: grid;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 300;
  }
}
.small-scren ul {
  list-style: none;
}
.small-scren ul li {
  display: inline-block;
  margin-left: 1rem;
}
.small-scren ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
.small-scren ul li:first-child {
  margin-left: 0;
}

.icon-container {
  width: 90%;
  margin: 100px auto 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.icon-container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 2rem 0;
}
.icon-container .icon i {
  font-size: 5rem;
  color: green;
}
.icon-container .icon .content h3 {
  font-size: 3rem;
}
.icon-container .icon .content h6 {
  font-size: 1.5rem;
}

.featured-books {
  width: 90%;
  margin: 100px auto 50px;
  text-align: center;
}
.featured-books h2 {
  font-size: clamp(1.3rem, 10vw, 3rem);
  border: 1px solid grey;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}

.featured-books .swiper {
  margin-top: 10rem;
  width: 100%;
  height: 100%;
}
.featured-books .swiper .box {
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
  text-align: center;
  margin: 2rem 0;
}
.featured-books .swiper .box:hover .img {
  transform: translateY(4rem);
}
.featured-books .swiper .box:hover .icon {
  transform: translateY(0%);
}
.featured-books .swiper .box .img {
  background: linear-gradient(15deg, #333 30%, #fff 30.1%);
  padding: 1rem;
  transition: all 0.4s;
}
.featured-books .swiper .box .img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25rem;
}
.featured-books .swiper .box .icon {
  border-bottom: 1px solid gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  transform: translateY(-105%);
  transition: all 0.4s;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-books .swiper .box .icon a {
  text-decoration: none;
  color: green;
  font-size: 20px;
  margin-left: 10px;
}
.featured-books .swiper .box .icon a:nth-child(1) {
  margin-left: 0;
}
.featured-books .swiper .box .content {
  padding: 1.5rem;
  background: #333;
  color: #fff;
}
.featured-books .swiper .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
}
.featured-books .swiper .box .content .price {
  font-size: 2rem;
  padding: 1rem;
}
.featured-books .swiper .box .content .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
}
.featured-books .swiper .box .content a {
  text-decoration: none;
  background: green;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.7rem;
  transition: opacity 0.4s;
}
.featured-books .swiper .box .content a:hover {
  opacity: 0.7;
}
.featured-books .swiper .swiper-button-next,
.featured-books .swiper .swiper-button-prev {
  color: black;
  width: 6rem;
  height: 6rem;
  background: #fff;
  border: 1px solid black;
}

.subscribe-sec {
  display: grid !important;
  position: relative;
  background: url(../image/letter-bg.jpg) center/cover no-repeat;
  place-items: center;
  width: 100%;
  height: 60vh;
}
.subscribe-sec .subscribe {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  padding: 30px;
  text-align: center;
}
.subscribe-sec .subscribe h2 {
  text-transform: capitalize;
  color: #fff;
  font-size: clamp(1rem, 5vw, 2rem);
}
.subscribe-sec .subscribe input {
  margin: 2rem 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
}
.subscribe-sec .subscribe .btn {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 20px;
  background: green;
  text-decoration: none;
  border-radius: 10px;
}

.new-arhive {
  text-align: center;
  padding: 4rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.new-arhive h2 {
  font-size: clamp(1.3rem, 10vw, 3rem);
  border: 1px solid grey;
  display: inline-block;
  padding: 0.5rem 2rem;
}
.new-arhive .arhive1,
.new-arhive .arhive2 {
  margin: 20px;
}
.new-arhive .arhive1 .arhive-slide,
.new-arhive .arhive2 .arhive-slide {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 2rem 0.5rem;
}
.new-arhive .arhive1 .arhive-slide .image img,
.new-arhive .arhive2 .arhive-slide .image img {
  height: 15rem;
}
.new-arhive .arhive1 .arhive-slide .content h3,
.new-arhive .arhive2 .arhive-slide .content h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.new-arhive .arhive1 .arhive-slide .content .price,
.new-arhive .arhive2 .arhive-slide .content .price {
  font-size: 2rem;
}
.new-arhive .arhive1 .arhive-slide .content .price span,
.new-arhive .arhive2 .arhive-slide .content .price span {
  font-size: 1.7rem;
  text-decoration: line-through;
}
.new-arhive .arhive1 .arhive-slide .content .stars,
.new-arhive .arhive2 .arhive-slide .content .stars {
  margin-top: 10px;
  font-size: 1.8rem;
  color: orangered;
}

.deal {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background: #f2f2f2;
}
.deal .holder {
  place-items: center;
  position: relative;
  bottom: -200px;
  z-index: 11;
  padding: clamp(1.5rem, 10vw, 10rem);
}
.deal .holder h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
  color: green;
}
.deal .holder h2 {
  font-size: 3rem;
  margin: 20px 0;
  text-transform: capitalize;
}
.deal .holder p {
  font-size: 1.7rem;
  margin-bottom: 20px;
  line-height: 2.6rem;
}
.deal .holder .btn {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 20px;
  background: green;
  text-decoration: none;
  border-radius: 10px;
}
.deal .img {
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}
.deal .img img {
  width: 100%;
}

.testemonial {
  width: 100%;
  padding: 6rem;
  text-align: center;
}
@media (max-width: 768px) {
  .testemonial {
    padding: 1rem;
  }
}
.testemonial h2 {
  font-size: clamp(1.3rem, 10vw, 3rem);
  border: 1px solid grey;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.testemonial .testemonial-swiper .testemonial-slide {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 4rem;
  cursor: pointer;
  transition: all 0.4s;
}
.testemonial .testemonial-swiper .testemonial-slide .img {
  margin-bottom: 10px;
}
.testemonial .testemonial-swiper .testemonial-slide .img img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
.testemonial .testemonial-swiper .testemonial-slide .content h3 {
  font-size: clamp(1.7rem, 10vw, 2.6rem);
}
.testemonial .testemonial-swiper .testemonial-slide .content p {
  margin: 20px 0;
  font-size: 1.6rem;
  line-height: 2.3rem;
}
.testemonial .testemonial-swiper .testemonial-slide .content .stars {
  color: orangered;
  font-size: 1.4rem;
}

.blog-section {
  padding: 6rem;
  text-align: center;
}
@media (max-width: 768px) {
  .blog-section {
    padding: 1rem;
  }
}
.blog-section h2 {
  font-size: clamp(1.3rem, 10vw, 3rem);
  border: 1px solid grey;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.blog-section .blog .slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.4;
}
.blog-section .blog .slide:hover .img img {
  transform: scale(1.1);
}
.blog-section .blog .slide .img {
  overflow: hidden;
}
.blog-section .blog .slide .img img {
  width: 100%;
  transition: all 0.4s;
}
.blog-section .blog .slide .content {
  text-align: left;
  padding: 2rem;
}
.blog-section .blog .slide .content h3 {
  font-size: clamp(1.7rem, 10vw, 2.2rem);
}
.blog-section .blog .slide .content p {
  font-size: 1.6rem;
  line-height: 3.3rem;
  margin: 2rem 0;
}
.blog-section .blog .slide .content .btn {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 20px;
  background: green;
  text-decoration: none;
  border-radius: 10px;
}
.blog-section .blog .slide .content .btn:hover {
  opacity: 0.7;
}

footer {
  width: 80%;
  margin: 100px auto 50px;
}
footer .info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
footer .info h2 {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
footer .info a {
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
  text-decoration: none;
  color: orangered;
}
footer .info a:hover span {
  margin-left: 20px;
}
footer .info a span {
  margin-left: 10px;
  color: black;
  transition: all 0.4s;
}
footer .icon {
  margin-top: 10rem;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid gray;
}
footer .icon a {
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: green;
  border-radius: 50%;
  color: #f2f2f2;
  margin-left: 2px;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;
}
footer .icon a:hover {
  background: #333;
}
footer .icon a i {
  font-size: 3rem;
}
footer p {
  margin-top: 10px;
  text-align: center;
  font-size: 2.4rem;
  text-transform: capitalize;
}
footer p a {
  font-size: 3rem;
  color: rgb(56, 79, 56);
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */